################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet/DesignPatterns/.vs
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.ChainOfResponsibility/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Command/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Interpreter/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Iterator/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Mediator/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Memento/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Observer/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.State/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Strategy/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.TemplateMethod/obj
/dotnet/DesignPatterns/src/DesignPatterns.Behavioral.Visitor/obj
/dotnet/DesignPatterns/src/DesignPatterns.Creational.AbstractFactory/obj
/dotnet/DesignPatterns/src/DesignPatterns.Creational.Builder/obj
/dotnet/DesignPatterns/src/DesignPatterns.Creational.FactoryMethod/obj
/dotnet/DesignPatterns/src/DesignPatterns.Creational.Prototype/obj
/dotnet/DesignPatterns/src/DesignPatterns.Creational.Singleton/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Adapter/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Bridge/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Composite/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Decorator/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Facade/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Flyweight/obj
/dotnet/DesignPatterns/src/DesignPatterns.Structural.Proxy/obj
